<div class="modal fade" [id]="cid" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">确认{{target}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">
            <i class="fas fa-times"></i>
          </span>
        </button>
      </div>
      <div class="modal-body">
        <div>
          <div class="form-group">
            {{expression}}
          </div>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="canceled.emit()">取消</button>
        <button type="button" class="btn btn-warning" data-dismiss="modal" (click)="confirmed.emit()">确认</button>
      </div>
    </div>
  </div>
</div>
